.AuthorBlock {
	color: var(--text);
	font-size: x-large;
}

.TitleAuthorPseudonym {
	color: var(--text);
	font-size: xx-large;
	text-decoration: none;
	font-weight: bold;
}

.AuthorInfo {
	color: var(--text);
	font-size: x-large;
}

.CollectionBlock {
	color: var(--text);
	font-size: x-large;
}

.CollectionLink,
.CollectionLink:visited {
	color: var(--text);
	font-size: x-large;
}

.CollectionInfo {
	color: var(--text);
	font-size: x-large;
}
