.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 20px;
	background-color: var(--background-color);
	position: sticky;
	top: 0;
	z-index: 1000;
	border-bottom: solid var(--shadow-color);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.LeftButton,
.RightButton {
	border-radius: 10px;
	padding: 10px 15px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.1s ease;
}
.LeftButton {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

.ButtonGroup {
	display: flex;
	gap: 10px;
}

.RightButton {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.LeftButton:hover,
.RightButton:hover {
	/* background-color: rgba(255, 255, 255, 0.3); */
	background-color: rgb(73, 50, 50);
}

.LeftButton:active,
.RightButton:active {
	transform: scale(0.95);
}
