html[selected_theme='light'] {
	--background-color: #888171;
	--text: #01061d;
	--shadow-color: #5ac2cd1a;
}

html[selected_theme='dark'] {
	--background-color: #01061d;
	--text: #888171;
	--shadow-color: #5a66cd29;
}

body {
	background-color: var(--background-color);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
