.Sender {
	margin: 1rem;
	color: var(--text);
	background-color: var(--background-color);
}

.Sender:hover {
	color: var(--text);
	background-color: var(--background-color);
}

.InputText {
	color: var(--text);
	background-color: var(--background-color);
}
